**/secret-* filter=git-crypt diff=git-crypt
# Files that I don't mind having in the nix store, but would rather not expose in plaintext in the repository.
**/semisecret* filter=git-crypt diff=git-crypt
